In [18]:
#program 1
names = ["ramu", "shyamu", "kanu", "manu", "ramu", "radha", "manu"]
for name in names:
    print(name)

ramu
shyamu
kanu
manu
ramu
radha
manu

In [5]:
#program 2
names = ["ramu", "shyamu", "kanu", "manu", "ramu", "radha", "manu"]
unique_names=[]
for name in names:
    if name not in unique_names:
        unique_names.append(name)
print(unique_names)

['ramu', 'shyamu', 'kanu', 'manu', 'radha']

In [17]:
#program 3
student_record = [[1, "ram", 18, "65%"] ,[2, "shyam", 17, "70%"]]
for record in student_record:
    print(record)
student_record.extend([[3, "Radha", 17, "75%"]])
print("after adding new record")
for record in student_record:
    print(record)

[1, 'ram', 18, '65%']
[2, 'shyam', 17, '70%']
after adding new record
[1, 'ram', 18, '65%']
[2, 'shyam', 17, '70%']
[3, 'Radha', 17, '75%']

In [39]:
#program 4
student_record = [[1, "ram", 18, "65%"] ,[2, "shyam", 17, "70%"]]
x=input("how mAany student record do you want to insert? : ")
name=""
stu_id=0
age=0
percentage=""

for i in range(0,int(x)):
    name=input("enter name")
    stu_id=int(input("student id"))
    age=int(input("enter age"))
    percentage=input("enter percentage")
    student_record.extend([[stu_id,name , age, percentage]])
student_record

how mAany student record do you want to insert? : 1
enter namesahil
student id4
enter age18
enter percentage90%

[[1, 'ram', 18, '65%'], [2, 'shyam', 17, '70%'], [4, 'sahil', 18, '90%']]

In [37]:
#program 5
student_record = [[1, "ram", 18, "65%"] ,[2, "shyam", 17, "70%"]]
x=input("how mAany student record do you want to insert? : ")
name=""
stu_id=0
age=0
percentage=""

for i in range(0,int(x)):
    name=input("enter name")
    stu_id=int(input("student id"))
    age=int(input("enter age"))
    percentage=input("enter percentage")
    student_record.extend([[stu_id,name , age, percentage]])
print("First five students record :")
student_record[:5]

how mAany student record do you want to insert? : 3
enter namesahil
student id3
enter age18
enter percentage90%
enter nameyogesh
student id4
enter age19
enter percentage85%
enter namevarsha
student id6
enter age19
enter percentage89%
First five students record :

[[1, 'ram', 18, '65%'],
 [2, 'shyam', 17, '70%'],
 [3, 'sahil', 18, '90%'],
 [4, 'yogesh', 19, '85%'],
 [6, 'varsha', 19, '89%']]

In [160]:
#program 6
student_record = [
    [1, "ram", 18, "65%"] ,
    [2, "shyam", 17, "70%"],
    [3, "Radha", 17, "75%"],
    [4, "sahil", 14, "90%"],
    [6,"jariwala",18,"93%"] ]
x=len(student_record)
delete_record=input("Entre the student name : ")
for row in range(0,x):
    if student_record[row][1]==delete_record:
        student_record.remove(student_record[row])
        print(student_record)
        break
else:
    print("record not found")

Entre the student name : sahil
[[1, 'ram', 18, '65%'], [2, 'shyam', 17, '70%'], [3, 'Radha', 17, '75%'], [6, 'jariwala', 18, '93%']]

In [59]:
#program 7
d1 = {"ram":60, "shyam":70, "radha":70}
d2 = {"ram":70, "shyam":80, "gopi":60}
d3 = {}
for key in d1:
    y=int(d2.get(key,"0"))
    avg = int((int(d1[key])+y)/2)
    d3.update({key:avg})
for key in d2:
    x=int(d3.get(key,"0"))
    if x==0:
        d3.update({key:d2.get(key)})
d3

gopi
60

{'ram': 65, 'shyam': 75, 'radha': 35, 'gopi': 60}

In [164]:
#program 8
student_record = [
    [6,"jariwala",18,"93%"],
    [1, "ram", 18, "65%"] ,
    [2, "shyam", 17, "70%"],
    [3, "radha", 17, "75%"],
    [4, "sahil", 14, "90%"]
     ]
print("sorted list according to name :")
student_record.sort(key=lambda x:x[1])
print(student_record)
print("sorted list according to age :")
student_record.sort(key=lambda x:x[2])
print(student_record)
print("sorted list according to percentage :")
student_record.sort(key=lambda x:x[3])
print(student_record)

sorted list according to name :
[[6, 'jariwala', 18, '93%'], [3, 'radha', 17, '75%'], [1, 'ram', 18, '65%'], [4, 'sahil', 14, '90%'], [2, 'shyam', 17, '70%']]
sorted list according to age :
[[4, 'sahil', 14, '90%'], [3, 'radha', 17, '75%'], [2, 'shyam', 17, '70%'], [6, 'jariwala', 18, '93%'], [1, 'ram', 18, '65%']]
sorted list according to percentage :
[[1, 'ram', 18, '65%'], [2, 'shyam', 17, '70%'], [3, 'radha', 17, '75%'], [4, 'sahil', 14, '90%'], [6, 'jariwala', 18, '93%']]

In [139]:
#program 9
list_dictionary=[
    {"V":"S001"}, 
    {"V": "S002"}, 
    {"VI": "S001"}, 
    {"VI":"S005"},
    {"VII":"S005"},
    {"V":"S009"},
    {"VIII":"S007"}]
u_value = set( val for dic in list_dictionary for val in dic.values())
print("Unique Values: ",u_value)

Unique Values:  {'S005', 'S007', 'S002', 'S001', 'S009'}

In [87]:
#program 10
Maths = {1, 2, 3, 5, 7, 9}
Physics = { 2, 4, 6, 9}
Chemistry = {1, 3, 5, 9}
maths_physics=Maths.intersection(Physics)
maths_chemistry=Maths.intersection(Chemistry)
physics_chemistry=Physics.intersection(Chemistry)
all_three=physics_chemistry.intersection(Maths)
z=Maths.symmetric_difference(Physics)
y=z.symmetric_difference(Chemistry)
only_one=all_three.symmetric_difference(y)
print("common in MAths and Physics :",maths_physics)
print("common in MAths and Chemistry :",maths_chemistry)
print("common in Chemistry and Physics :",physics_chemistry)
print("common in all three : ",all_three)
print("students who have taken only one subject :",only_one)

common in MAths and Physics : {9, 2}
common in MAths and Chemistry : {1, 3, 5, 9}
common in Chemistry and Physics : {9}
common in all three :  {9}
student who have taken only one subject : {4, 6, 7}

In [96]:
#function program 1
x=50
def func(x):
    print("x is :" ,x )
    x=2        #this create the local variable x this will no change the global var
    print('Change local x to :',x)
    return
func(x)  # pass by value 
print("x is now :",x)

x is : 50
Change local x to : 2
x is now : 50

In [103]:
#function program 2
def max_number(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z
x=int(input("First number :"))
y=int(input("Second number :"))
z=int(input("Third number :"))
max=max_number(x,y,z)
print(f'maximum of {x} ,{y} and {z} is "{max}"')

First number :25
Second number :152
Third number :142
maximum of 25 ,152 and 142 is "152"

In [130]:
#function program 3
def prime_number(lower,upper):
    print(f"prime num between {lower} to {upper} are :")
    for num in range(lower, upper + 1):
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else:
                print(num )
x=int(input("enter lower bound :"))
y=int(input("entre upper bound :"))
prime_number(x,y)

enter lower bound :1
entre upper bound :20
prime num between 1 to 20 are :
2
3
5
7
11
13
17
19

In [155]:
#function program 4
def swap_no(x,y):
    x,y=y,x
    print(f"number after swapping:x= {x} nad y= {y}")
    return x,y

x=int(input("enter number:"))
y=int(input("entre second number:"))
x,y=swap_no(x,y)
print(x,y)

enter number:5
entre second number:10
number after swapping:x= 10 nad y= 5
10 5

In [131]:
#function program 5
def simple_intrest(p,t,r=3.5): 
    print('The principal is', p) 
    print('The time period is', t) 
    print('The rate of interest is',r)   
    intrest = (p * t * r)/100 
    print('>>>>>>The Simple Interest is', intrest) 
    return intrest 
principal=int(input(">principal :"))
time=int(input(">time :"))
rate =int(input(">rate :"))
simple_intrest(principal, time, rate)
simple_intrest(principal, time)

>principal :100000
>time :8
>rate :6
The principal is 100000
The time period is 8
The rate of interest is 6
>>>>>>The Simple Interest is 48000.0
The principal is 100000
The time period is 8
The rate of interest is 3.5
>>>>>>The Simple Interest is 28000.0

28000.0

In [128]:
#function program 6
def sum(*args):
    result = 0
    for i in args:
        result += i
    return result
print("sum is :",sum(24,457,34,7854))
print("sum is :",sum(24,457))
print("sum is :",sum(24,457,34,50,40,680,2884))

sum is : 8369
sum is : 481
sum is : 4169